@charset "UTF-8";
/*layout.css*/


/*wrapAll*/
.wrapAll {overflow: hidden; width: 100%; height: auto; min-height: 550px;}
.wrapAll.client {background: #ccc; padding: 80px;}
.wrapAll.admin {padding: 80px 80px 80px 330px;}


/*top_index*/
/*logo*/
#logo {line-height: 24px; color: #fff; font-size: 23px; font-weight: 600; position: fixed;top: 28px;left: 30px; z-index:997;}

/*sign*/
#sign {position: fixed;top: 28px;right: 110px; z-index:997;}
#sign a {line-height: 24px; color: #fff; font-size: 18px; font-weight: 600; margin-left: 15px;}

/*ham*/
#ham {
    position: absolute;
    top: 27px; right: 35px;
    width: 42px; height: 30px;
    cursor:pointer;
    z-index: 999;
}
#ham span {
    display: block;
    background: #fff;
    width: 42px;
    height: 4px;
    border-radius: 3px;
    transition: margin 0.25s 0.25s, transform 0.25s ;
}
#ham .bar1 {margin-bottom: 8px;}
#ham .bar3 {margin-top: 8px;}

#ham.active span {
    transition: margin 0.25s, transform 0.25s 0.25s;
}

#ham.active .bar1 {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
}
#ham.active .bar2 {
    transform: rotate(45deg);        
}
#ham.active .bar3 {
    margin-top: -4px;
    transform: rotate(135deg);
}

/*top*/
#top {width: 100%; height:80px; transition: .3s; position: fixed;top: 0;left: 0; z-index:999;}
#top.nav-up {top: -80px;}
#top.nav-down {top: 0;}
#top #logo {position: absolute;top: 28px;left: 30px; z-index:997;}
#top #sign {position: absolute;top: 28px;right: 110px; z-index:997;}

/*clientMenu*/
#clientMenuWrap {display: none; width: 350px; height: 100vh; background: #333; position: fixed;top: 0;right: 0; z-index:998;}
#clientMenuWrap .menu {margin: 80px 0;}
#clientMenuWrap .menu li {height: 50px;}
#clientMenuWrap .menu li a {display: block; width: 100%; height: 100%; line-height: 50px; text-indent: 30px; color: #fff; font-size: 21px; transition:.3s;}
#clientMenuWrap .menu li.on a {background: #fff; color: #000;}
#clientMenuWrap .menu li a:hover {background: #fff; color: #000;}

/*mCover*/
#mCover {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0; left: 0;
    z-index: 997;
}


/*myMenu*/
#myMenuWrap {overflow: hidden; margin: 0 0 30px;}
#myMenuWrap li {float: left; margin: 0 5px 0 0;}
#myMenuWrap li a {display: block; background: #aaa; color: #fff; transition:.3s; padding: 15px;}
#myMenuWrap li.on a {background: #333;}
#myMenuWrap li a:hover {background: #333;}


/*adminMenu*/
#adminMenuWrap {width: 250px; height: 100vh; background: #5543FF; position: fixed;top: 0;left: 0; z-index:999;}
#adminMenuWrap .logo {text-align: center; color: #fff; font-size: 30px; font-weight: 600; border-bottom: 3px solid #fff; padding-bottom: 20px; margin: 80px 25px 0;}
#adminMenuWrap .menu {margin: 60px 0;}
#adminMenuWrap .menu li {height: 45px;}
#adminMenuWrap .menu li a {display: block; width: 100%; height: 100%; line-height: 45px; text-indent: 25px; color: #fff; transition:.3s;}
#adminMenuWrap .menu li.on a {background: #2C1ED6;}
#adminMenuWrap .menu li a:hover {background: #2C1ED6;}


/*footer*/
#footer {width: 100%; height: 150px; background: #777;}

