@charset "UTF-8";
/*member.css*/

/*loginForm*/

.loginCover {display:flex; justify-content:center;align-items:center; height:100vh;}
.loginForm {position:relative; width:420px; padding: 60px 70px; vertical-align: top; text-align:left;font-size: 16px; box-sizing: border-box; border: 1px solid #e5e5e5;}
.loginForm h1 {text-align:left; margin: 0 0 30px 0; font-weight:400; font-size:32px;}
.input-area input {width:100%; left:0; padding: 20px 10px 10px 0; border:none; border-bottom:1px solid #cccccc; outline:none; }
input::placeholder {position:absolute; top: 5px; left: 0; width: 100%; height: 47px; line-height: 47px; color: #ccc;}
.set-login {margin-top:25px; font-size:14px;} 
.btn-area {margin-top:40px;}
.btn-area button {width:100%; height:50px; border-radius: 4px; color:#ffffff;  font-size: 15px; background-color:#ff0000; border:0; cursor:pointer;}
.caption {margin-top:30px; font-size:12px}
.caption .list_user {float:right; }
.caption .list_user li {float:left; margin-left:5px; }
.caption a{color:rgba(0,0,0,0.7);}

/*signupForm*/

#signupWrap {position:relative; height:100%; vertical-align:middle; padding:150px 0;}
#signup-head {text-align:center; margin:0 auto; }
#signup-title{font-weight:400; font-size:32px;}
#signup-article {overflow:hidden; position: relative; width:580px; margin:40px auto; padding: 58px 69px 139px; border: 1px solid #e5e5e5; border-radius: 2px; box-sizing: border-box;}
#signup-article input {width:80%; left:0; height:28px; padding: 11px 70px 8px 0; border:none; border-bottom:1px solid #cccccc; outline:none; font-size:16px; }
.tf_required {display: block; font-size: 12px; color: #000; font-weight: normal; margin-top: 40px;}
#signup-radio {margin-top:20px;}
#signup-radio .radioDetail {float:left; width:20px; margin:0 40px 0 0;}
.radioDetail .gen {position:relative; left:7px; font-size:13px;}
#sign-btn {width:100%; margin-top:60px; height: 50px; padding: 0; border: 0; border-radius: 4px; font-size: 15px; color: #ffffff; cursor:pointer; background-color:#ff0000;}

/*findId*/
.travelPWrap {display:table; width:100%; height:100%; min-width:320px;border-collapse: separate;}
.travelPWrap .travelWrap {position: relative; display: table-cell; height: 100%; vertical-align: middle;  padding: 200px 0;}
.travelHead h1 {font-weight:400; font-size:32px; text-align:center; }
.tArticle {position: relative; max-width: 580px; min-height: 440px; margin: 40px auto; padding: 70px 69px 100px; border: 1px solid #e5e5e5; border-radius: 2px; box-sizing: border-box;}
.titMain {font-size: 24px; line-height: 34px; color: #252525; letter-spacing: -1px; font-weight: normal;}
.descMain {margin-top: 15px; text-align: left; color:#7c7c7c;}
.formArea {margin-top:4px;}
.itemTf {position: relative; padding-right: 0;}
.itemTf input {width:80%; left:0; height:28px; padding: 13px 70px 8px 0; border:none; border-bottom:1px solid #cccccc; outline:none; font-size:16px;}    
.subBtn {width:100%; margin-top:60px; height: 50px; padding: 0; border: 0; border-radius: 4px; font-size: 15px; color: #ffffff; cursor:pointer; background-color:#ff0000;}    
    
 /*findIdPro*/
 .wrapFind {margin-top: 20px; border-top: 1px solid rgba(0,0,0,0.08);}
 .boxFind {padding: 20px 0; border-bottom: 1px solid rgba(0,0,0,0.08); letter-spacing: 0;} 
 .txtContact {font-size:20px; font-weight:bold; color:#191919; margin-botton:30px;}
 .linkComm {text-decoration: underline;color: #2c88de; font-size:12px;margin: 20px 0 0;}
 .descMain .findIdPro {line-height:5px;}
 
 /*myModi*/
 .travelContent {padding-bottom:140px;}
 .mArticle {max-width: 560px; margin: 50px auto 0;}
 .titModi {font-weight: normal; font-size: 20px; letter-spacing: 0;}
 .wrapModi {margin-top:10px; padding-bottom: 80px; border-top: 1px solid #7c7c7c;}
 .boxManage {margin-top:40px;}
 .boxManage:first-child {margin-top:30px;}
 .descComm {margin-top:4px; font-size:12px; color:#959595;}
 .boxSet {padding: 10px 25px 10px 0; border-bottom: 1px solid #ebebeb; font-size: 16px; color: #252525; }
 .titSet {font-weight:normal;}
 .txtSet {float:right; color:#5066aa;}
 
 
 
 
 
 
 
 
 
 
 
 